.members {
	position: absolute;
	height: 100%;
	width: 100%;
	background: url(../../../assets/member_background.png)
}

.members::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url(../../../assets/movie_cover.png) repeat center top;
	background-size: 2px 2px;
}

.panel-content {
	display: flex;
  justify-content: center;
	padding-top: 60px;
	padding-bottom: 60px;
}

.card {
	position: relative;
	background: var(--surface-a);
	width: 200px;
	height: 400px;
	box-shadow: 4px 4px 12px -8px var(--primary-color);
	border-radius: 4px;
	overflow: hidden;
	border-top: solid 2px var(--primary-color);
	border-bottom: solid 2px var(--primary-color);
	transition: width 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
	width: 270px;
}

.avatar {
	position: absolute;
  width: 290px;
}

.rank {
	position: absolute;
	bottom: 48px;
}

.name {
	position: absolute;
	bottom: 8px;
	white-space: nowrap;
  font-size: 32px;
  font-family: 'Economica', sans-serif !important;
	color: var(--primary-color);
  text-shadow: 3px 3px 5px rgb(14 51 29 / 50%);
}