<div class="members">
  <p-scrollPanel [style]="{width: '100%', height: '100%'}">
		<div class="panel-content">
			<p-dataView [value]="freeCompanyMembers" [loading]="false" layout="grid">
				<ng-template let-fcMember pTemplate="gridItem">
					<div class="card" hover-class="cover" (click)="onCardClick()">
						<div class="avatar">
							<img src="{{fcMember.Character?.Portrait }}">
						</div>
						<div class="rank">
							<p-chip label="{{ fcMember.Rank }}" image="{{ fcMember.RankIcon }}" ></p-chip>
						</div>
						<div class="name">
							<span>{{ fcMember.Name }}</span>
						</div>
					</div>
				</ng-template>
			</p-dataView>
		</div>
  </p-scrollPanel>
</div>
<p-blockUI [blocked]="isPickupModal">
	<button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-text" (click)="closePickUpModal()"></button>
</p-blockUI>