/* You can add global styles to this file, and also import other style files */
.p-dataview-content {
  background: none !important;
}

.p-grid {
	gap: 16px;
	justify-content: center;
	width: 1200px;
}

.p-chip {
	border: solid 1px var(--text-color);
}

.p-chip img {
	width: 16px;
	height: 16px;
	margin-right: 0;
}

.p-chip .p-chip-text {
	margin-top: 0;
  margin-bottom: 0;
	font-size: 12px;
}